@import url(../Conf/shrVariables.css);

/* +-+-+ BOOKMARKS +-+-+ */
#PlacesToolbarItems > .bookmark-item {
  padding: var(--bookmark-block-padding) 7px !important;
  border-radius: var(--shr-border-radius-pill) !important;
  transition: var(--shr-transition-base);
}

#PlacesToolbarItems > .bookmark-item[label=""] {
  padding: var(--bookmark-block-padding) 4px !important;
}

#PlacesToolbarItems > .bookmark-item[container] {
  list-style-image: var(--shr-file-icon) !important;
}

#PlacesToolbarItems > .bookmark-item .toolbarbutton-icon {
  border-radius: 0px !important;
}
