@import url(../Conf/shrVariables.css);

/* +-+-+ NAV BUTTONS +-+-+ */
hbox#nav-bar-customization-target {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbarbutton-badge-stack {
  border-radius: var(--shr-border-radius-pill) !important;
  transition: var(--shr-transition-base) !important;
}

.toolbarbutton-icon,
.toolbarbutton-icon::before,
.toolbarbutton-icon::after {
  border-radius: var(--shr-border-radius-pill);
}

.toolbarbutton-icon {
  transition: var(--shr-transition-base);
}

#sidebar-button,
#back-button,
#forward-button,
#stop-reload-button,
#unified-extensions-button {
  padding: 0 !important;
  margin: 0 var(--toolbarbutton-outer-padding) !important;
  height: fit-content;
  width: fit-content;
  border-radius: var(--shr-border-radius-pill);
  overflow: hidden;

  > *,
  > * > .toolbarbutton-icon {
    border-radius: 0px !important;
  }
}

#sidebar-button {
  margin-left: var(--toolbar-start-end-padding) !important;
}

#forward-button[disabled="true"] {
  margin-left: -36px !important;
  opacity: 0 !important;
  pointer-events: none;
}

#forward-button[wasdisabled="true"] {
  margin-left: 0 !important;
  opacity: 1 !important;
}

.tab-close-button {
  transition: var(--shr-transition-base) !important;
  border-radius: var(--shr-border-radius-pill) !important;
}

.titlebar-buttonbox-container .titlebar-buttonbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px !important;
}

.titlebar-buttonbox-container .titlebar-button {
  height: var(--tab-min-height);
  width: var(--tab-min-height);
  border-radius: var(--shr-border-radius-pill);
  transition: var(--shr-transition-base);
}
